<nav class="navbar navbar-expand-lg  navbar-inverse bg-inverse opacity-3 navbar-light fixed-top py-3" id ="menu-bar"  >
      
   
    <button class="navbar-toggler " style="background-color:#026ced; " type="button"  data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
        
          <input  placeholder="Search..." style="outline: none;border-radius:6px;margin:10px;padding:1px;float:center;text-align:center;">
          <button type="button" class="btn btn" id="searchbutton" >Search</button>
         
        <li class="nav-item">
          <a class="nav-link text-secondary" href="content/about"><h5 class="menu-link">About</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="content/trainings"><h5 class="menu-link">Trainings</h5></a>
        </li> 
          <li class="nav-item">
            <a class="nav-link text-secondary" href="content/projects"><h5 class="menu-link">Projects</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="content/experience"><h5 class="menu-link">Experience</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="content/contact"><h5 class="menu-link">Contact</h5></a>
          </li>
                    
      </ul>
    </div>  
  </nav>
