<div class="footer2-container" style="color:white;padding:30px;margin-top:0px;margin-left: 0px;margin-right: 0px;background-color:rgba(30,30,30);">
    <div class="footer2-item">
      <h2>Links</h2>
      <ul class="list-unstyled title2">
          <li><a href="content/about" style="text-decoration: none;font-weight: bold;">About</a></li>
          <li><a href="content/trainings" style="text-decoration: none;font-weight: bold;">Trainings</a></li>
          <li><a href="content/projects" style="text-decoration: none;font-weight: bold;">Projects</a></li>
          <li><a href="content/experience" style="text-decoration: none;font-weight: bold;">Experience</a></li>
          <li><a href="content/contact" style="text-decoration: none;font-weight: bold;">Contact</a></li>
         
      </ul>
      
    </div>




    <div class="footer2-item">
      <h2>Address</h2>
      <address>
        V-11, Nithari<br>
        Noida Sector - 31, Uttar Pradesh<br>
        India<br>
        <i class="fa fa-phone fa-lg"></i>: +91 9716805427<br>
        <i class="fa fa-fax fa-lg"></i>: +91 9871750805<br>
        <i class="fa fa-envelope fa-lg"></i>: 
        <a href="mailto:singhsourabh494601">singhsharad529@gmail.com</a>
     </address>
      
    </div>


    <div class="footer2-item">
      
            <div class="follow">
              <h2>Follow Me</h2>
              <br>
              <a href="https://www.facebook.com/sharad.singh.712714/" style="color: white;"><i class='fa fa-facebook' id="icon" style="font-size:36px;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
   
              <a href="mailto:singhsharad529@gmail.com" style="color:white"> <i class='fa fa-google' id="icon" style="font-size:36px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://twitter.com/singhsharad529" style="color: white;"> <i class='fa fa-twitter' id="icon" style="font-size:36px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://www.linkedin.com/in/ss529/" style="color: white;"> <i class='fa fa-linkedin' id="icon" style="font-size:36px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
             </div>
    </div>






  </div>