
<br><br>
<div>
<section  class="about-mf sect-pt4 route" >
    <div class="container" id="about-content" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding:40px;">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="../../assets/gmail.jpg" class="img-fluid rounded b-shadow-a" alt="profile-image" style="height:150px;"><br>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s" style="font-weight: bold;">Name: </span> <span>Sharad Kumar singh</span></p>
                      <p><span class="title-s" style="font-weight: bold;">Profile: </span> <span>Student</span></p>
                      <p><span class="title-s" style="font-weight: bold;">Email: </span> <span>singhsharad529@gmail.com</span></p>
                      <p><span class="title-s" style="font-weight: bold;">Phone: </span> <span>+91-9716805427</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <h4>Skills</h4>
                  <span>Core Java</span> <span class="pull-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div><br>
                  <span>C++ Programming</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div><br>
                  <span>Data Structure</span> <span class="pull-right">80%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div><br>
                  <span>MySql</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div><br>
                  <span>Microsoft Office</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div><br>
                  <span>Python</span> <span class="pull-right">70%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div><br>
                  <span>Digital Marketing</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div><br>
                  <span>Javascript</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div><br>
                  <span>Angular</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="90" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h3 class="title-left">
                      About Me
                    </h3>
                    <hr align="left" color="#fb7813" style="height:2px;" width="20%">
                  </div>
                  <p class="lead">
                    Hi, Here is a little bit about me . 
                    Currntly I am persuing Becelor's of Technology from Bundelkhand Institute of Engineering and 
                    Technology Jhansi,
                    
                  </p>
                  <p class="lead">
                    As I have just started my career, I don’t have practical achievements, but I really want to practically explore and experience
                    my potential by delivering the best services to the companies where I will work.
                   I have learned many technologies of web development , software development, and implemented them as much as I got opportunities. 
                  </p>
                  <p class="lead">
                    I am an honors student with a record of academic and extracurricular success with Extensive leadership experience. Adept at working across 
                    departments, with faculty, administrators, and students. Keen interested in Web development, programming languages,  and other technologies.
                     During my Graduation, I have achieved many skills, and now its time to implement them on a professional platform. 
                    </p>

                    <div>
                      <a href="../../assets/Resume.pdf" target="_blank" class="btn resume">Resume</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </div>

  <br><br>