<div class="contact" id="experience">      
    <div class="contact-color" >
      <div class="contacttext" style="text-align: center;"><h2 style="font-weight: bold;color: white;">Experience</h2></div><br>
    
       
      <div class="contact-container"  style="background-color:rgba(250,250,250);margin:auto;padding:5px;" >
      <div class="contact-item" >
      <h2 >WORK EXPERIENCE</h2>
       
       
      </div>
     
      
      <div class="contact-item">
        <div *ngFor="let ex of experienceList">
          <h2 >{{ex.name}}</h2>
        <hr class="get-line" align="left" color="#fb7813" >
        <h4>{{ex.post}}</h4>
        <p>{{ex.description}}<br><b>May 2018 - December 2018 | Noida, India</b></p>
        <hr  align="left" color="#fb7813" >  

        </div>
<!--         
        <div>
          <h2 >FebZone</h2>
          <hr class="get-line" align="left" color="#fb7813" >
          <h4>E-commerce Graphic Designer as a Intern</h4>
          <p>This is the e-commerce company so work was related to the product designs like templates, wrapper designs, cover designs etc..I worked here as an image editor and a photographer.<br><b>January 2019 - April 2019 | Noida, India</b></p>
          <hr  align="left" color="#fb7813" >   

        </div>
          
        <div>

          <h2 >Key Solution</h2>
          <hr class="get-line" align="left" color="#fb7813" >
          <h4>Graphic Designer</h4>
          <p>It is a company that works on digital printing. So I designed other companies visiting cards, letterheads, banners, Facebook images, posters, booklets, employee Id cards, product labels, etc. the company that provides works like Motherson, Icreon, Cadient, PepperPedia, Bold, etc.<br><b>June 2019 - Present | Noida, India</b></p>
                 

        </div>      -->
          
        </div>


    </div>


    </div>